<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

  <appender name="STDERR"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>brooklime: %logger{128}: %level: %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <appender name="ROLLING_FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>brooklime.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- Keep 30 days' worth of history capped at 1GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>

    <encoder>
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss Z} [%thread] %-5level %logger{128} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC_FILE"
            class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="ROLLING_FILE"/>
  </appender>

  <logger name="io.netty"
          level="INFO"/>

  <!--
  <logger name="org.apache.hc.client5.http.wire"
          level="INFO"/>
          -->

  <root level="INFO">
    <appender-ref ref="STDERR"/>
    <appender-ref ref="ASYNC_FILE"/>
  </root>

</configuration>
